<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main class="container">
      <a class="home-link" href="/">Go Home</a>
      <form action="/new" method="POST" class="message-form">
        <h2><% %></h2>
        <div class="form-group">
          <label for="email">Authors Name:</label>
          <input type="text" id="name" name="user" required />
        </div>
        <div class="form-group">
          <label for="message">Message:</label>
          <textarea id="message" name="text" rows="2" required></textarea>
        </div>
        <button type="submit">Send Message</button>
      </form>
    </main>
  </body>
</html>
